*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    block-size: 100%;
}

body{
    block-size: 100vh;
    /* inline-size: 100%; */
}

.container{
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

#canvas{
    display: block;
    background: red;
}